name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  compile:
    name: dart compile exe
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-latest
            binary-name: json_compressor_linux_amd64
          - runs-on: macos-latest
            binary-name: json_compressor_macos_amd64
          - runs-on: windows-latest
            binary-name: json_compressor_windows.exe
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4     
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.4'
          channel: 'stable'
      - run: flutter pub get
      - run: mkdir ${{ matrix.runs-on }}
      - run: dart compile exe bin/json_compressor.dart -o ${{ matrix.runs-on }}/${{ matrix.binary-name }}
      - uses: actions/upload-artifact@v4
        with:
          name: bin-${{ matrix.runs-on }}
          path: ${{ matrix.runs-on }}

  release:
    needs: compile
    name: github release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bin-ubuntu-latest
          path: bin-linux
      - uses: actions/download-artifact@v4
        with:
          name: bin-macos-latest
          path: bin-macos
      - uses: actions/download-artifact@v4
        with:
          name: bin-windows-latest
          path: bin-windows
      - uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: bin-*/*
          token: ${{ secrets.GITHUB_TOKEN }}